<section>
  <h2 class="text-center">Groups</h2>
  <div class="page-content">
    <% unless @groups.empty? %>
      <%= render 'list' %>
    <% else %>
      <p>No groups available</p>
    <% end %>
  </div>
  <div class="bottom-btn-div">
    <%= link_to 'Add a new group', new_group_path, class: 'bg-sec text-light bottom-btn' %>
  </div>
</section>
